<div class="row">
    <h1 class="proyecto">Proyectos Realizados</h1>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>R.I.G.COM</h1>
            <p>El proyecto Registro Integral para la Gestión de Combustibles se utiliza para el control de carga
                y consumo de combustible de las unidades móviles de la Policía.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/RIGCOM.jpeg" class="img-fluid img-proyecto">
        </div>

    </div>

</div>