<div class="row">
    <h1 class="edu">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Técn. Sup. en Seguridad Pública</h1> - <h3>(3 años)</h3>
            </li>
            <p>Durante mi etapa de formación como Oficial de Policía en la Escuela de Oficiales <em>"Libertador General
                Don José de San Martín"</em>, aprendí sobre la correcta aplicación de las leyes vigentes en materia
                de DDHH, Código Penal, Código de Convivencia Ciudadana, Ley Provincial de Tránsito, entre otras. También
                se me instruyo en la correcta utilización del arma de fuego, distintos tipos de procedimientos
                policiales trabajo en equipo y liderazgo para una mejor conducción de personal a cargo.</p>
            <p></p>
            <li>
                <h1>Primeros pasos del desarrollo frontend - Argentina Programa 4.0</h1> - <h3>(12/2020 al 03/2023)</h3>
            </li>
            <p>Éste curso me dió las bases para iniciarme en el desarrollo Front-End, adquiriendo conocimientos básicos
                como lo son la estructura de un proyecto WEB, la aplicación de estilos a traves de CSS, alojamiento y
                servidores, pensamiento lógico, tipos de lenguajes de programación, estructuras y fundamentos de JS.</p>
            <li>                
        </ul>
    </div>
</div>