<div>
    <a href="https://github.com/SMCCBA" target="_blank" rel="noopener noreferrer"><img src="../../../assets/GitHub.png"
            id="GH"></a>
    <a href="mailto:smccba@gmail.com"><img src="../../../assets/Gmail.png" id="GM"></a>
    <a href="https://instagram.com/smccba2019?igshid=YzgyMTM2MGM=" target="_blank" rel="noopener noreferrer"><img
            src="../../../assets/Instagram-removebg-preview.png" id="IG">    </a>
    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-miguel-castellano-bbb58a222/" target="_blank"
        rel="noopener noreferrer"><img src="../../../assets/LinkedIn-removebg-preview.png" id="LI"></a>
    <a href="https://api.whatsapp.com/send/?phone=5493572443230" target="_blank" rel="noopener noreferrer"><img
            src="../../../assets/WSP-removebg-preview.png" id="WSP"></a>
    <a href="https://t.me/Sebas1982" target="_blank" rel="noopener noreferrer"><img src="../../../assets/TLG.png"
            id="TLG"></a>
</div>

<!-- Aquí utilizo el comando target="_blank" para abrir los links en una nueva 
    pestaña y el comando rel="noopener noreferrer" para evitar el "tabnabbing"-->