
.copyright {
    display: flex;
    background-color: rgb(175, 175, 175);    
    font-family: "Manrope", sans-serif;
    letter-spacing: 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    padding: 8px;
    border-top-style:double;
}

.copyright p {
    margin: 3px auto;
}

