<div class="row">
    <h1>Hard Skills</h1>
    <!--Circulo de progreso HTML-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/HTML.png'" 
            [imageHeight]="85"
            [imageWidth]="85"
            [percent]="80"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#FFB11B'"
            [innerStrokeColor]="'#FF831B'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso CSS-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/CSS.png'" 
            [imageHeight]="85"
            [imageWidth]="85"
            [percent]="80"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#005B96'"
            [innerStrokeColor]="'#002741'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso JavaScript-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/JS.png'" 
            [imageHeight]="85"
            [imageWidth]="85"
            [percent]="50"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#FFFF66'"
            [innerStrokeColor]="'#FFC266'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso Angular-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/ANGULAR.png'" 
            [imageHeight]="120"
            [imageWidth]="120"
            [percent]="45"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#BF1A2F'"
            [innerStrokeColor]="'#3F0910'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso BOOTSTRAP-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/BOOTSTRAP.png'" 
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="50"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#863D96'"
            [innerStrokeColor]="'#140916'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso EXCEL-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/EXCEL.png'" 
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="90"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#1EA896'"
            [innerStrokeColor]="'#072824'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso WORD-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/WORD.png'" 
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="90"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#070D59'"
            [innerStrokeColor]="'#000104'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso INGLES-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/INGLES.png'" 
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="70"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#2AB7CA'"
            [innerStrokeColor]="'#0F434A'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <h1>Soft Skills</h1>
    <!--Circulo de progreso LIDERAZGO-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/LIDER.png'" 
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="100"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#2DFDE2'"
            [innerStrokeColor]="'#0F534A'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
    <!--Circulo de progreso Trabajo en Equipo-->
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress 
            [showTitle]="false" 
            [showUnits]="false"
            [showImage]="true" 
            [imageSrc]="'../assets/SKILLS/TEE.png'" 
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="100"
            [radius]="100" 
            [outerStrokeWidth]="22" 
            [innerStrokeWidth]="12" 
            [outerStrokeColor]="'#FF8B94'"
            [innerStrokeColor]="'#8B94FF'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
    </div>
</div>