<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FPerfil.jpg" class="img-fluid" id="FPerfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">Sebastián Miguel Castellano</p>
        <p id="fe">Front-End Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1 class="sobre" id="sobre">Sobre mí</h1>
            <p>Soy Técnico Superior en Seguridad Pública, me apasiona aprender nuevas cosas constantemente. Cursé 
                la carrera de policía en la escuela de Oficiales de la Provincia de Córdoba entre los años 2008 y 2010,
                lo que me ayudo a tener una muy buena formación en liderazgo y trabajo en equipo. Siempre me gustó 
                la programación y mi intención es modernizar la gestión administrativa dentro de la Institución a la 
                cual pertenezco.</p>
        </span>

    </div>

</div>