<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FPerfil.jpg" class="img-fluid" id="FPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sebastián Miguel Castellano</p>
        <p>Front-End Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, neque? Necessitatibus, fuga totam.
                Porro a culpa eaque illum. Fugit delectus debitis minima amet nostrum rerum mollitia distinctio quasi
                error doloribus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet suscipit quis fugit beatae magni,
                voluptatibus facilis qui hic nostrum? Iste nam similique culpa recusandae quis repellendus ipsa
                laudantium praesentium obcaecati!</p>
        </span>

    </div>

</div>