    div {

        background-color: rgb(175, 175, 175);
        text-align: center;
    }

    #nombre {
        font-size: large;
        font-weight: bolder;
        margin-top: 20%;
        margin-left: 5px;
        text-shadow: 1px 1px 2px #5893D4;
    }

    #fe {
        font-family: 'Lucida Sans';
    }

    #sobre {
        font-size:xx-large;
        text-shadow: 1px 1px 2px #5893D4;
    }

    @media (min-width: 576px) {
        #FPerfil {
            position: absolute;
            border-radius: 100%;
            width: 17%;
            box-shadow: 4px 4px 4px grey;
            left: 3%;
            top: 580px;
            border-style: solid;
            border-top-color: cadetblue;
            border-left-color: rgba(12, 12, 134, 0.61);
            border-bottom-color: rgb(55, 43, 226);
            border-right-color: rgb(0, 88, 139);
        }
    }

    @media (max-width: 575px) {
        #FPerfil {
            position: absolute;
            border-radius: 100%;
            width: 40%;
            box-shadow: 4px 4px 4px grey;
            border-style: solid;
            border-top-color: cadetblue;
            border-left-color: rgba(12, 12, 134, 0.61);
            border-bottom-color: rgb(55, 43, 226);
            border-right-color: rgb(0, 88, 139);
            left: 30%;
            top: 475px;
        }
    }

    .row {
        padding: 20px;
    }

    