<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia temporibus quis ipsam. Impedit eius
                molestias quae consequuntur veritatis. Numquam labore non provident laboriosam, nam modi voluptatum
                temporibus iure molestiae libero.</p>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia temporibus quis ipsam. Impedit eius
                molestias quae consequuntur veritatis. Numquam labore non provident laboriosam, nam modi voluptatum
                temporibus iure molestiae libero.</p>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia temporibus quis ipsam. Impedit eius
                molestias quae consequuntur veritatis. Numquam labore non provident laboriosam, nam modi voluptatum
                temporibus iure molestiae libero.</p>
        </ul>
    </div>
</div>