<div class="row">
    <h1 class="exp" id="exp">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Georgalos Hnos</h1> - <h3>(3 meses)</h3>
            </li>
            <p>Trabajo temporal en planta de producción de golosinas de la ciudad de Río Segundo, desempeñando 
                tareas en los distintos sectores de la fábrica.</p>
            <li>
                <h1>Policía de la Provincia de Córdoba</h1> - <h3>(15 años)</h3>
            </li>
            <p>Trabajo permanente en la Institución Policial, realizando entre entre los años 2011 y 2017 tareas de prevención y 
                seguridad vial en la Dirección General de Policía Caminera. Desde el 2017 a la actualidad pase a revistar dentro 
                de la órbita de la Dirección General de Gestión Administrativa - Dirección de Administración, 
                desarrollando tareas de seguridad y prevención, como así también, de gestión administrativa para el normal desempeño 
                de todas las áreas pertenecientes a la fuerza policial.</p>
        </ul>           
    </div>
</div>